/*****************   TEMPLATES   *****************/
/* PAGE */
.page {
    display: flex;
    height: 100vh;
}
.page-content {
    width: 100%;
}

/* ERROR */
.page-error {
    width: 100%;
    display: grid;
    place-items: center;
}
.page-error-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page-error-code {
    font-size: 5em;
    color: var(--blue);
}
.page-error-description {
    font-size: 2em;
}

/* CARD */
.card {
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    justify-content: center;
}
.card-content {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 35px;
    border-radius: 50px;
    gap: 40px;
}

/* AUTH */
.auth-logo {
    height: 80px;
    width: auto;
}

/*****************   BASICS   *****************/
.button {
    border: none;
    border-radius: 30px;
}
.button-text {
    border: none;
    background-color: transparent;
    color: var(--white);
    font-size: 17px;
}

.submit-button {
    background: linear-gradient(265.71deg, #1C5BFF 8.3%, #551AFF 95.71%);
    padding: 7px 30px;
}
.submit-button:hover {
    background: linear-gradient(265.71deg, #551AFF 8.3%, #1C5BFF 95.71%);
}

.alt-button {
    background-color: var(--light-grey);
    padding: 7px 15px;
}

/*****************   SPECIALS   *****************/
/* MENU */
.menu {
    background-color: var(--dark-grey);
    width: 350px;
    height: 100%;
}
.menu-content {
    padding: 50px;
}
.menu-content-logo {
    width: 100%;
}
.menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* MENU ITEM */
.menu-item {
    padding: 0 40px;
}
.menu-item-text:hover {
    opacity: 0.8;
}
.menu-item-content {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.menu-item-link {
    text-decoration: none;
    color: var(--white);
}
.menu-item-svg {
    height: 20px;
}
.menu-item-img {
    height: 25px;
    border-radius: 15px;
}
.menu-item-text {
    font-size: 20px;
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-fields {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-input {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    padding: 10px 15px;
    border-radius: 30px;
}
.form-input-text {
    width: 80%;
    background-color: var(--light-grey);
    color: var(--white);
    border: none;
    outline: none;
}
.form-input-text::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.form-input-img-edit,
.form-input-img-save {
    display: none;
}
.form-input-text:focus-visible:not(:valid) + .form-input-img-edit,
.form-input-text:valid + .form-input-img-edit + .form-input-img-save
{
    display: block;
}

.form-error {
    color: red;
    font-weight: 500;
    width: 30ch;
}
.form-validate {
    display: grid;
    place-items: center;
}
