/* APP */
.app {
    display: flex;
    height: 100vh;
}

/* MENU */
.menu {
    background-color: var(--dark-grey);
    width: 300px;
    height: 100%;
}
.menu-content {
    padding: 50px;
}
.menu-content-logo {
    width: 100%;
}
.menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* MENU ITEM */
.menu-item {
    padding: 0 40px;
}
/*.menu-item:active {
    background-color: var(--blue);
}*/
.menu-item-text:hover {
    opacity: 0.8;
}
.menu-item-content {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.menu-item-svg {
    height: 20px;
}
.menu-item-img {
    height: 25px;
    border-radius: 15px;
}
.menu-item-text {
    font-size: 20px;
}