/*************************   TITLE   *************************/
.title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.title-img {
    height: 30px;
}
.title-text {
    font-weight: 500;
    font-size: 30px;
}
.title-subtext {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

/*************************   STATUS   *************************/
.status-text {
    width: fit-content;
    padding: 1px 12px;
    border-radius: 20px;
}

/*************************   LOADING   *************************/
.loading {
    position: absolute;
    margin: auto;
    border: 2px solid var(--white);
    border-radius: 50%;
    border-top: 2px solid var(--blue);
    width: 50px;
    height: 50px;
    animation: spinner 1s infinite ease-in-out;
}
.isLoading {
    opacity: 0.3;
    pointer-events: none;
}
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*************************   LINKS   *************************/
.backlink {
    width: 100%;
}
.link-content {
    color: var(--blue);
    text-decoration: none;
}
.backlink-content {
    display: flex;
    align-items: center;
    gap: 2px;
}
.link-content:hover {
    text-decoration: underline;
}
.backlink-img {
    width: 15px;
}
.link-txt {
    font-size: 13px;
}

/*************************   BUTTONS   ************************/
.button {
    border: none;
    border-radius: 30px;
}
.button-text {
    border: none;
    background-color: transparent;
    color: var(--white);
    font-size: 17px;
}

.alt-button {
    background-color: var(--light-grey);
    padding: 7px 15px;
}

/* SUBMIT */
.submit-button {
    background: linear-gradient(265.71deg, #1C5BFF 8.3%, #551AFF 95.71%);
    padding: 7px 30px;
}
.submit-button:hover {
    background: linear-gradient(265.71deg, #551AFF 8.3%, #1C5BFF 95.71%);
}
