/*************************   MENU   *************************/
.menu {
    background-color: var(--dark-grey);
    width: 350px;
    height: 100%;
}
.menu-content {
    padding: 50px;
}
.menu-content-logo {
    width: 100%;
}
.menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* MENU ITEM */
.menu-item {
    padding: 0 40px;
}
.menu-item-text:hover {
    opacity: 0.8;
}
.menu-item-content {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.menu-item-link {
    text-decoration: none;
    color: var(--white);
}
.menu-item-img {
    height: 25px;
    width: 25px;
}
.menu-item-text {
    font-size: 20px;
}

/*************************   FORM   *************************/
.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-head-content {
    display: grid;
    place-items: center;
}

.form-head-icon {
    display: none;
    z-index: 1;
    position: absolute;
    height: 30px;
}

.form-head-picture {
    z-index: 0;
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.form-head-picture:hover ~ .form-head-icon {
    display: block;
}

.form-head-picture:hover,
.form-head-icon:hover + .form-head-picture {
    opacity: 0.5;
    filter: blur(2px);
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.form-fields-line {
    display: flex;
    gap: 10px;
}
.form-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form-fields-line .form-field .form-input {
    width: 120px;
}
.form-input {
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-grey);
    padding: 10px 15px;
    border-radius: 30px;
}
.form-input-text {
    width: 80%;
    background-color: var(--light-grey);
    color: var(--white);
    border: none;
    outline: none;
}
.form-input-text::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.form-input-img-edit,
.form-input-img-save {
    display: none;
}
.form-input-text:focus-visible:not(:valid) + .form-input-img-edit,
.form-input-text:valid + .form-input-img-edit + .form-input-img-save
{
    display: block;
}
.form-input-img-eye {
    width: 20px;
    height: 20px;
}

.form-error {
    color: red;
    font-weight: 500;
    width: 30ch;
}

.form-validator-rule {
    display: flex;
    gap: 5px;
}
.validator-rule-img {
    width: 12px;
}

.form-validate {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}
