.profile-infos {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-infos-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.profile-infos-head {
    display: grid;
    place-items: center;
}

.profile-head-content {
    display: grid;
    place-items: center;
}

.profile-head-icon {
    display: none;
    z-index: 1;
    position: absolute;
    height: 30px;
}

.profile-head-picture {
    z-index: 0;
    height: 125px;
    width: 125px;
    border-radius: 50%;
}

.profile-head-picture:hover ~ .profile-head-icon {
    display: block;
}

.profile-head-picture:hover,
.profile-head-icon:hover + .profile-head-picture {
    opacity: 0.5;
    filter: blur(2px);
}


.profile-infos-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
